// Colours
$color-default: #fff;
$color-secondary: #666e72;
$color-display: #1f282d;
$color-numbers: #f16b67;
$color-operator: #f3ac74;
$color-reset: #e42e4a;

// Fonts
$font-family-default: 'Roboto', sans-serif;
$font-size-default: 32px;

body {
  font: 400 $font-size-default $font-family-default;    
  color: $color-default;
  
  .calculator {  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    .display {
      background: $color-display;
      text-align: right;
      padding: 50px 30px;
      #calculation {
        color: $color-secondary;
      }
      #answer {
        font-size:$font-size-default * 2;
      }
    }    
  }
}
