// Colours
$color-default: #fff;
$color-secondary: #666e72;
$color-display: #1f282d;
$color-numbers: #f16b67;
$color-operator: #f3ac74;
$color-reset: #e42e4a;

// Fonts
$font-family-default: 'Roboto', sans-serif;
$font-size-default: 32px;


body {
  background: peachpuff;
}