// Colours
$color-default: #fff;
$color-secondary: #666e72;
$color-display: #1f282d;
$color-numbers: #f16b67;
$color-operator: #f3ac74;
$color-reset: #e42e4a;

// Fonts
$font-family-default: 'Roboto', sans-serif;;
$font-size-default: 32px;

body {
  font: 400 $font-size-default $font-family-default;    
  color: $color-default;
  letter-spacing: 0.2em;
  .calculator {  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    .display {
      background: $color-display;
      text-align: right;
      padding: 50px 30px;
      #calculation {
        color: $color-secondary;
      }
      #answer {
        font-size:$font-size-default * 2;
      }
    }
    .keypad {      
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $color-secondary;
        .button,
        .operator,
        .reset {
          width: 50px;
          padding: 18px;
          display: flex;          
          justify-content: center;
          flex: 1 1;
          cursor: pointer;          
        }
        .button {
          background: $color-numbers;          
        }
        .operator {
          background: $color-operator;          
        }
        .reset,
        .save {
          background: $color-reset;        
        }
        .save {
          width: 80px;
        }        
      
    }
  }
}
